.glass_nav {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.37);
}

.nav_bar {
  @apply h-14 shadow-md flex items-center justify-between px-5 lg:px-[10rem] xl:px-[15rem]
}