<div class="flex flex-wrap gap-5 justify-center lg:justify-self-auto">
  <div class="account_card">
    <span>
      <img src="orders_logo.png" alt="orders" />
    </span>
    <span>
      <p>Your Orders</p>
      <p>Track, return, or buy things again</p>
    </span>
  </div>

  <div class="account_card">
    <span>
      <img src="security_lock.png" alt="orders" />
    </span>
    <span>
      <p>Login & security</p>
      <p>Edit login, name, and mobile number</p>
    </span>
  </div>

  <div class="account_card">
    <span>
      <img src="location_logo.png" alt="orders" />
    </span>
    <span>
      <p>Your Addresses</p>
      <p>Edit addresses for orders and gifts</p>
    </span>
  </div>

  <div class="account_card">
    <span>
      <img src="card_logo.png" alt="orders" />
    </span>
    <span>
      <p>Payment options</p>
      <p>Edit or add payment methods</p>
    </span>
  </div>

  <div class="account_card">
    <span>
      <img src="list_logo.png" alt="orders" />
    </span>
    <span>
      <p>Your Whish Lists</p>
      <p>Add, Remove and Update your lists</p>
    </span>
  </div>

  <div class="account_card">
    <span>
      <img src="contact_logo.png" alt="orders" />
    </span>
    <span>
      <p>Contact Us</p>
      <p></p>
    </span>
  </div>
</div>
