<div
  class="w-[20rem] sm:w-[30rem] md:w-[22rem] p-4 border shadow-md rounded-md hover:bg-yellow-50"
>
  <div>
    <h2 class="font-semibold flex justify-between">
      {{ address.full_name }}
      <span
        class="text-blue-500 font-light text-sm p-2"
        *ngIf="address.is_default"
      >
        Default
      </span>
      <span
        class="text-blue-500 font-light text-sm hover:bg-blue-200 active:bg-blue-100 p-2 rounded-md hover:cursor-pointer"
        *ngIf="!address.is_default"
        (click)="updateDefaultAddress(address._id)"
      >
        Make Default
      </span>
    </h2>
    <p>{{ address.address }}</p>
    <p>{{ address.landmark }}</p>
    <p>
      {{ address.city }}, {{ address.state }}, {{ address.country }},
      {{ address.pin_code }}
    </p>
  </div>
  <div class="flex justify-between mt-5">
    <button class="ctm_btn" (click)="updateAddressModal = true">Edit</button>
    <app-address-form
      [header]="'Update your address'"
      [visible]="updateAddressModal"
      [existingAddress]="address"
      [type]="'Update'"
      (onSubmit)="handleEvent($event)"
      (onClose)="closeEditForm($event)"
    >
    </app-address-form>
    <button class="ctm_btn_danger" (click)="deleteAddress(address._id)">
      Delete
    </button>
  </div>
</div>
