<div class="flex flex-col sm:flex-row justify-center items-start sm:gap-5">
  <p-carousel
    [value]="images"
    [numVisible]="1"
    [numScroll]="1"
    class="w-auto sm:w-[20rem] lg:w-[30rem] sm:sticky sm:top-[5rem]"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-item pTemplate="item">
      <img [src]="item" class="w-full rounded-md" />
    </ng-template>
  </p-carousel>

  <div class="flex-1">
    <!-- Title & Price Section -->
    <h2 class="font-semibold text-2xl mb-4">
      {{ product.title }}
    </h2>
    <p class="font-semibold text-2xl">
      <span class="font-light mr-2 text-rose-400"
        >-{{ product.discount }}%</span
      >
      <sup class="font-light">₹</sup>{{ priceAfterDiscount }}
    </p>
    <small class="font-light text-sm" *ngIf="!!product.discount">
      M.R.P:<del>{{ product.price }}</del>
    </small>
    <p [style.color]="product.inStock ? 'green' : 'red'" class="font-semibold">
      {{ product.inStock ? "In Stock" : "Out Of Stock" }}
    </p>
    <p>
      <span class="font-semibold"> Sold By:  </span>
      <span class="font-medium capitalize">{{ merchant_name }}</span>
    </p>

    <div class="flex gap-3 mt-2 mb-3">
      <button class="ctm_btn" (click)="AddThisProductToCart()" [disabled]="!product.inStock">
        Add to cart
      </button>
      <button class="ctm_btn" [disabled]="!product.inStock" (click)="navigate('buy', product._id)">Buy Now</button>
    </div>

    <!-- Offers Section starts from here -->
    <hr />
    <div class="mt-4 mb-3 flex gap-4">
      <div class="flex flex-col items-center">
        <span
          class="pi pi-truck text-2xl bg-slate-100 px-3 py-2 rounded-full"
        ></span>
        <p class="text-sm">Free Delivery</p>
      </div>
      <div class="flex flex-col items-center">
        <span
          class="pi pi-shield text-2xl bg-slate-100 px-3 py-2 rounded-full"
        ></span>
        <p class="text-sm">1 Year</p>
        <p class="text-sm">Warranty</p>
      </div>
      <div class="flex flex-col items-center">
        <span
          class="pi pi-wallet text-2xl bg-slate-100 px-3 py-2 rounded-full"
        ></span>
        <p class="text-sm">Pay on Delivery</p>
      </div>
      <div class="flex flex-col items-center">
        <span
          class="pi pi-trophy text-2xl bg-slate-100 px-3 py-2 rounded-full"
        ></span>
        <p class="text-sm">Top Brand</p>
      </div>
    </div>

    <!-- Product Information Section -->
    <hr />
    <div class="mt-4 mb-3">
      <h3 class="font-bold mb-2">Product Information</h3>

      <div class="flex gap-3">
        <div>
          <p *ngFor="let info_item of product.details">
            <span class="font-semibold mr-3">{{ info_item.key }}:</span>
            <span>{{ info_item.value }}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- About Section starts from here -->
    <hr />
    <div class="mt-4 mb-3">
      <h3 class="font-bold mb-2">About this item</h3>
      <ul>
        <li *ngFor="let about_item of product.about" class="list-disc ml-3">
          {{ about_item }}
        </li>
      </ul>
    </div>
  </div>
</div>
