<section class="flex justify-center flex-col">
  <h2 class="font-semibold text-2xl my-5">Login and Security</h2>

  <div
    class="border shadow-sm rounded-lg p-5 max-w-[40rem] flex flex-col gap-5"
  >
    <!-- For Name -->
    <div class="flex justify-between items-center">
      <div class="">
        <h3 class="font-semibold">Name</h3>
        <p class="text-sm">{{ userData.name }}</p>
      </div>
      <div class="flex flex-col gap-2">
        <button class="update_btn">Update</button>
      </div>
    </div>

    <!-- For Email -->
    <div class="flex justify-between items-center">
      <div class="">
        <h3 class="font-semibold">
          Email
          <small
            *ngIf="!userData.isEmailVerified"
            class="text-rose-400 font-normal ml-2"
            >Your email is not verified!</small
          >
          <small
            *ngIf="userData.isEmailVerified"
            class="text-green-400 font-normal ml-2"
            >Verified!</small
          >
        </h3>
        <p class="text-sm">{{ userData.email }}</p>
      </div>
      <div class="flex flex-col gap-2">
        <button
          class="verify_btn"
          *ngIf="!userData.isEmailVerified"
          (click)="sendVerificationCode('Email')"
        >
          Verify Now
        </button>
        <p-dialog
          header="Enter OTP"
          [modal]="true"
          [(visible)]="otpModal"
          [draggable]="false"
          styleClass="w-[25rem]"
        >
          <form
            class="mt-5 flex flex-col gap-6"
            (submit)="verifyOTP('Email')"
            [formGroup]="otpForm"
          >
            <input
              type="text"
              placeholder="Enter OTP Here"
              class="p-2 rounded-md shadow-sm border"
              formControlName="otp"
            />
            <div class="flex justify-content-end gap-2">
              <button
                class="ctm_btn_danger"
                type="button"
                (click)="otpModal = false"
              >
                Cancel
              </button>
              <button class="ctm_btn" type="submit">Verify</button>
            </div>
          </form>
        </p-dialog>
        <button class="update_btn">Update</button>
      </div>
    </div>

    <!-- For Phone Number -->
    <div class="flex justify-between items-center">
      <div class="">
        <h3 class="font-semibold">
          Phone Number
          <small
            *ngIf="userData.mobile && !userData.isEmailVerified"
            class="text-rose-400 font-normal ml-2"
          >
            Your phone number is not verified!
          </small>
          <small
            *ngIf="userData.isMobileVerified"
            class="text-green-400 font-normal ml-2"
            >Verified!</small
          >
          <small
            *ngIf="!userData.mobile"
            class="text-rose-400 font-normal ml-2"
          >
            Add a new phone number
          </small>
        </h3>
        <p class="text-sm">{{ userData.mobile }}</p>
      </div>
      <div class="flex flex-col gap-2">
        <button
          class="verify_btn"
          *ngIf="userData.mobile && !userData.isMobileVerified"
          (click)="sendVerificationCode('Mobile')"
        >
          Verify Now
        </button>
        <p-dialog
          header="Enter OTP"
          [modal]="true"
          [(visible)]="otpModal"
          [draggable]="false"
          styleClass="w-[25rem]"
        >
          <form
            class="mt-5 flex flex-col gap-6"
            (submit)="verifyOTP('Email')"
            [formGroup]="otpForm"
          >
            <input
              type="text"
              placeholder="Enter OTP Here"
              class="p-2 rounded-md shadow-sm border"
              formControlName="otp"
            />
            <div class="flex justify-content-end gap-2">
              <button
                class="ctm_btn_danger"
                type="button"
                (click)="otpModal = false"
              >
                Cancel
              </button>
              <button class="ctm_btn" type="submit">Verify</button>
            </div>
          </form>
        </p-dialog>
        <button class="update_btn">Update</button>
      </div>
    </div>

    <!-- For Password -->
    <div class="flex justify-between items-center">
      <div>
        <h3 class="font-semibold">Password</h3>
        <p class="text-sm">xxxxxxxx</p>
      </div>
      <div class="flex flex-col gap-2">
        <button class="update_btn">Update</button>
      </div>
    </div>
  </div>
</section>
