@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
}

.ctm_btn {
  @apply bg-blue-500 active:bg-blue-400 ease-in-out duration-300 font-light text-sm text-white px-3 py-2 rounded-md hover:cursor-pointer drop-shadow-md disabled:cursor-default disabled:active:bg-blue-400 disabled:bg-blue-400;
}

.ctm_out_btn {
  @apply active:bg-blue-500 active:text-white ease-in-out duration-200 text-sm px-3 py-2 rounded-lg hover:cursor-pointer drop-shadow-md disabled:cursor-default disabled:active:bg-blue-400 border;
}

.ctm_btn_danger {
  @apply bg-rose-500 active:bg-rose-400 rounded-md px-4 py-2 text-white text-sm ease-in-out duration-300 shadow-md disabled:cursor-default disabled:active:bg-rose-500
}

.ctm_input {
  @apply w-auto md:w-[25rem];
}

.ctm_input input {
  @apply w-full p-2 border rounded-md shadow-sm;
}
